<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MusicAll Landing Page Site" />
    <meta name="keywords" content="apps, music, artist, bands, dj" />
    <meta name="author" content="MusicAll development team" />
    <title>MusicAll</title>
  </head>
  <body>
    <header>
      <div class="container-navbar">
        <a href="/"
          ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/logo_nstdb3.png" alt="MusicAll logo"
        /></a>
        <nav>
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Características</a>
            </li>
            <li>
              <a href="#">¿Eres Músico?</a>
            </li>
          </ul>
        </nav>
        <div>
          <a href="#" class="btn">Registarse</a>
        </div>
      </div>
    </header>
    <!-- Hero Section -->
    <section id="hero" class="hero">
      <div class="container banner">
        <div class="cta">
          <h1>Conecta con músicos talentosos de manera fácil y rápida.</h1>
          <p>
            ¿Estás buscando música en vivo para tu evento, pero no sabes por
            dónde empezar? ¡No te preocupes! Con nuestra aplicación, puedes
            encontrar al músico perfecto en cuestión de segundos.
          </p>
          <div>
            <a class="btn" href="#">Registrarse</a>
          </div>
        </div>
        <div>
          <img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808139/MusicAll-LandingPage/hero-image_x12kdc.png" alt="" />
        </div>
      </div>
    </section>

    <footer>
      <div class="footer1 container">
        <a href="#"
          ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/logo_footer_eh9orz.png" alt="MusicAll logo"
        /></a>
        <nav>
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Características</a>
            </li>
            <li>
              <a href="#">¿Eres Músico?</a>
            </li>
          </ul>
        </nav>
        <div class="social_networks_container">
          <div class="social_networks">
            <a href="#"
              ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/Twitter_h02l2z.svg" alt="twiter logo"
            /></a>
          </div>
          <div class="social_networks">
            <a href="#"
            ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/facebook_vclcxc.svg" alt="facebook logo"
          /></a>
          </div>
          <div class="social_networks">
            <a href="#"
            ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/instagram_fudpko.svg" alt="instagram logo"
          /></a>
          </div>
          <div class="social_networks">
            <a href="#"
            ><img src="https://res.cloudinary.com/dspbfuzvy/image/upload/v1682808138/MusicAll-LandingPage/Linkedin_udm9vz.svg" alt="Linkedin logo"
          /></a>
          </div>
        </div>
      </div>
      <div class="footer2">
        <p>2023 MusicAll Team Developer | Inc. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
